header {
    margin-left: 2%;
    margin-right: 5%;
    background-color: gray;
}

header nav ul li {
display: inline-block;

}
header nav ul li{
    margin-right: 10px;
}

main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#images{
    float: left;
    
}
#imaage{
    float: left;
}
#part2{
    float: right;
}
main section div p{
    float: right;
    widows: 20px;
}
footer{
    background-color: grey;
}

button :hover{
    float: right;

}
